
<div style='margin-top: 2%' class="container mt-5">
    <div class="row container">
        <div class="col-md-12">

            <div class="card">
                <div class="d-flex  justify-content-between p-5">
                    <div class="card-title">
                        <h3>
                            LISTE DES CITERNES
                        </h3>
                        <div class="">
                            <mat-form-field appearance="standard">
                                <mat-label>Rechercher</mat-label>
                                <input matInput (keyup)="search($event)" placeholder="rechercher Citerne" #input>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="card-toolbar">
                        <button class="btn btn-primary" (click)="displayForm()">Nouvelle Citerne</button>
                    </div>
                </div>

                <div class="card table-responsive">

                    <table  mat-table [dataSource]="dataSource" class="table  table-hover ">
                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white'> No. </th>
                            <td class="align-items-center"   mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <!-- Position Column -->

                        <ng-container matColumnDef="assetId">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white'> Asset Id </th>
                            <td class="align-items-center"   mat-cell *matCellDef="let element"> {{element.assetId}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white'> Description </th>
                            <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                        </ng-container>

                        <ng-container matColumnDef="matricule">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white; text-align: left;'>No. Matricule </th>
                            <td mat-cell *matCellDef="let element"> {{ element.matricule}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="serialNumber">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white; text-align: left;'> No. de serie </th>
                            <td mat-cell *matCellDef="let element"> {{ element.serialNumber }} </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white; text-align: center'> Actions </th>
                            <td mat-cell *matCellDef="let element">  
                                <button type="button" class="btn btn-danger m-1 text-right" (click)="openFormModal(element)" title="Supprimer" style="float: right;"><i class="material-icons">delete</i>
                                </button>
                                <button type="button" class="btn btn-success m-1 text-right" (click)="openDetailsCiterne(element)" title="Details" style="float: right;"><i class="material-icons">details</i>
                                </button>
                                <button type="button" class="btn btn-warning m-1 text-right" (click)="openFormModal(element)" title="Modifier" style="float: right;"><i class="material-icons">edit</i>
                                </button>
                                
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">Aucun résultat trouvé pour "{{input.value}}"</td>
                        </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[10,15,20,25]" class="panel-footer"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

            </div>
        </div>
    </div>
</div>




