
<div style='margin: 2%; padding: 2%' class=" border-0 rounded-lg mt-5">


    <div class="card ">
        <div class="d-flex  justify-content-between p-5">
            <div class="card-title">
                <h3 class="card-label">Ajouter un produit</h3>
            </div>
            <div class="card-toolbar">
                <button type="button" (click)="displayProductList()" class="btn btn-primary" >Liste des Produits</button>
            </div>
        </div>
        <div class="col-md-offset-0 col-md-12">
            <div class="">
                <!--                    add new client-->
                <div class="container" >
                    <div [hidden]="submitted" style="width: 400px;"></div>
                    <div  [hidden]="!submitted"  class="alert alert-success mt-5">
                        <strong>SUCCES!</strong> Les informations sont correctement enregistees.
                    </div>
                    </div>

                    <form  [formGroup]="productForm">


                        <div class="row mt-3 mt-5">
                            <div class="col-sm">

                                <input formControlName="designation" class="form-control "
                                       type="text" placeholder="Désignation" />
                            </div>
                            <div  class="col-sm">
                                <input formControlName="description" class="form-control"
                                       type="tel" placeholder="Description" />
                            </div>



                        </div>

                        <div class="row my-5">
                            <div class="col-sm mt-">
                                <button style="width: 100%"  (click)="onSubmit()" class="btn btn-primary">Valider</button>
                            </div>

                            <div class="col-sm">
                                <button style="width: 100%"  class="btn btn-danger">Annuler</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


