
<div style='margin: 2%; padding: 2%' class="card">
    <div class="d-flex  justify-content-between p-10">
        <div class="card-title">
            <h3 class="card-label ">AJOUTER UNE CITERNE</h3>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-primary"  (click)="displayList()">Liste des citernes</button>
        </div>
    </div>

<div class="row ">
    <div class="col-md-offset-0 col-md-12">
        <div class="">
            <!--                    add new client-->
            <div class="container" >
                <div [hidden]="submitted2" style="width: 400px;"></div>
                <div  [hidden]="!submitted2"  class="alert alert-success mt-5">
                    <strong>SUCCES!</strong> Les informations sont correctement enregistees.
                </div>
<!--                        <strong>SUCCES!</strong> Les informations sont correctement enregistees.-->
                </div>

                <form  [formGroup]="citerneForm">


                    <div class="row mt-3 mt-5">
                        <div class="col-sm">
                            <label for="assetId"> Asset ID</label>
                            <input id="assetId" formControlName="assetId" class="form-control "
                                   type="text" placeholder="Asset Id" 
                                   [ngClass]="!citerneForm.get('assetId').valid? 'is-invalid'
                                   :citerneForm.get('assetId').valid? 'is-valid'
                                   :''
                                   "
                                   />
                                   <!--<div [hidden]="citerneForm.get('assetId').valid" 
                                   class="alert alert-danger">Asset ID est obligatoire et doit avoir plus de cinq caractères</div>-->
                        </div>
                        <div  class="col-sm">
                            <label for="description">description</label>
                            <input id="description" formControlName="description" class="form-control"
                                   type="text" placeholder="Description" 
                                   [ngClass]="!citerneForm.get('description').valid? 'is-invalid'
                                   :citerneForm.get('description').valid? 'is-valid'
                                   :''
                                   "
                            />
                                   <!--<div [hidden]="citerneForm.get('description').valid 
                                   || !citerneForm.get('description').touched" class="alert alert-danger">Description est obligatoire</div>-->
                        </div>

                        <div  class="col-sm">
                            <label for="manu">manufacture</label>
                            <input id="manu" formControlName="manufacture" class="form-control "
                                   type="text" placeholder="Manufacture"
                                   [ngClass]="!citerneForm.get('manufacture').valid? 'is-invalid'
                                   :citerneForm.get('manufacture').valid? 'is-valid'
                                   :''
                                   "  
                            />
                            .<!--<div [hidden]="citerneForm.get('manufacture').valid 
                                   || !citerneForm.get('manufacture').touched" class="alert alert-danger">Manufacture est obligatoire</div>-->
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm">
                            <label for="marque">marque</label>
                            <input id="marque" formControlName="marque" class="form-control "
                                   type="text" placeholder="Marque" 
                                   [ngClass]="!citerneForm.get('marque').valid? 'is-invalid'
                                   :citerneForm.get('marque').valid? 'is-valid'
                                   :''
                                   " 
                                   
                            />
                        </div>
                        <div class="col-sm">
                            <label for="model">Modèle</label>
                            <input id="model" formControlName="model" class="form-control"
                                   type="number"
                                   placeholder="Modèle" 
                                   [ngClass]="!citerneForm.get('model').valid? 'is-invalid'
                                   :citerneForm.get('model').valid? 'is-valid'
                                   :''
                                   " 
                                   
                            />
                        </div>
                        <div class="col-sm">
                            <label for="mat">Matricule</label>
                            <input id="mat" formControlName="matricule" class="form-control"
                                   type="text" placeholder="Matricule (Numéro de plaque)" 
                                   [ngClass]="!citerneForm.get('matricule').valid? 'is-invalid'
                                   :citerneForm.get('matricule').valid? 'is-valid'
                                   :''
                                   " 
                            />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm">
                            <label for="nbc">Nombre Compartiments</label>
                            <input id="nbc" formControlName="nbreCompartiment" class="form-control "
                                   type="number" placeholder="Nbre de compartiment" 
                                   [ngClass]="!citerneForm.get('nbreCompartiment').valid? 'is-invalid'
                                   :citerneForm.get('nbreCompartiment').valid? 'is-valid'
                                   :''
                                   " 
                                />
                        </div>
                        <div class="col-sm">
                            <label for="sn">numero de série</label>
                            <input id="sn" formControlName="serialNumber" class="form-control"
                                   type="text"
                                   placeholder="Numéro de serie" 
                                   [ngClass]="!citerneForm.get('serialNumber').valid? 'is-invalid'
                                   :citerneForm.get('serialNumber').valid? 'is-valid'
                                   :''
                                   " 
                            />
                        </div>
                        <div class="col-sm">
                            <label for="capP">capacité pied</label>
                            <input id="capP" formControlName="capacitePied" class="form-control"
                                   type="number"
                                   placeholder="Capacité pied" 
                                   [ngClass]="!citerneForm.get('capacitePied').valid? 'is-invalid'
                                   :citerneForm.get('capacitePied').valid? 'is-valid'
                                   :''
                                   " 
                            />
                        </div>

                    </div>


                    <div class="row mt-3">
                        <div class="col-sm">
                            <label for="fabric">Fabric</label>
                            <select class="custom-select" formControlName="fabric" id="fabric"
                            [ngClass]="!citerneForm.get('fabric').valid? 'is-invalid'
                            :citerneForm.get('fabric').valid? 'is-valid'
                            :''
                            " 
                            >
                                <option>Année d'acquisition</option>
                                <option *ngFor="let y of years" value="{{y}}">{{y}}</option>
                            </select>

                        </div>
                        <div class="col-sm">
                            <label for="poids">poids</label>
                            <input id="poids" formControlName="poids" class="form-control"
                                   type="number"
                                   placeholder="Poids" 
                                   [ngClass]="!citerneForm.get('poids').valid? 'is-invalid'
                                   :citerneForm.get('poids').valid? 'is-valid'
                                   :''
                                   " 
                            />
                        </div>
                        <div class="col-sm">
                            <label for="entretien">dernier entretien</label>
                            <input id="entretien" formControlName="entretien" class="form-control"
                                   type="date" placeholder="Dernier entretien" 
                                   [ngClass]="!citerneForm.get('entretien').valid? 'is-invalid'
                                   :citerneForm.get('entretien').valid? 'is-valid'
                                   :''
                                   " 
                                />
                        </div>

                    </div>
                    <div class="row mt-3">
                            <div class="col-sm">
                                <label class="small mb-1" >Vaccum</label>
                                <div class="checkbox">
                                    <div class="form-check" style="margin-right: 10px;">
                                        <input class="form-check-input" type="radio"            formControlName="isVaccum"
                                                value="true" checked
                                                [ngClass]="!citerneForm.get('isVaccum').valid? 'is-invalid'
                                                :citerneForm.get('isVaccum').valid? 'is-valid'
                                                :''
                                                "
                                        >
                                        <label class="form-check-label" >
                                            Oui
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isVaccum"
                                               value="false"
                                                [ngClass]="!citerneForm.get('isVaccum').valid? 'is-invalid'
                                                :citerneForm.get('isVaccum').valid? 'is-valid'
                                                :''
                                                "
                                        >
                                        <label class="form-check-label">
                                            Non
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label class="small mb-1" >Certificat</label>
                                <div class="checkbox">
                                    <div class="form-check" style="margin-right: 10px;">
                                        <input class="form-check-input" type="radio" formControlName="isCertificated"
                                                value="true" checked
                                                [ngClass]="!citerneForm.get('isCertificated').valid? 'is-invalid'
                                                :citerneForm.get('isCertificated').valid? 'is-valid'
                                                :''
                                                "
                                        >
                                        <label class="form-check-label">
                                            Oui
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isCertificated"
                                               value="false"
                                               [ngClass]="!citerneForm.get('isCertificated').valid? 'is-invalid'
                                               :citerneForm.get('isCertificated').valid? 'is-valid'
                                               :''
                                               "
                                       >
                                        <label class="form-check-label">
                                            Non
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label class="small mb-1" >Chargement arrière</label>
                                <div class="checkbox">
                                    <div class="form-check" style="margin-right: 10px;">
                                        <input class="form-check-input" type="radio" formControlName="isBackCharge"
                                               value="true" checked
                                               [ngClass]="!citerneForm.get('isBackCharge').valid? 'is-invalid'
                                               :citerneForm.get('isBackCharge').valid? 'is-valid'
                                               :''
                                               "
                                        >
                                        <label class="form-check-label" >
                                            Oui
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isBackCharge"
                                               value="false"
                                               [ngClass]="!citerneForm.get('isBackCharge').valid? 'is-invalid'
                                               :citerneForm.get('isBackCharge').valid? 'is-valid'
                                               :''
                                               "
                                        >
                                        <label class="form-check-label" >
                                            Non
                                        </label>
                                    </div>
                                </div>
                            </div>


                    </div>

                    <div class="row mt-3">
                        <div class="col-sm">
                            <label class="small mb-1" >Status</label>
                            <div class="checkbox">
                                <div class="form-check" style="margin-right: 10px;">
                                    <input class="form-check-input" type="radio" formControlName="dispo"
                                           id="exampleRadios1" value="true" checked
                                           [ngClass]="!citerneForm.get('dispo').valid? 'is-invalid'
                                               :citerneForm.get('dispo').valid? 'is-valid'
                                               :''
                                               "
                                    >
                                    <label class="form-check-label" for="exampleRadios1">
                                        Actif
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="dispo"
                                           id="exampleRadios2" value="false"
                                           [ngClass]="!citerneForm.get('dispo').valid? 'is-invalid'
                                               :citerneForm.get('dispo').valid? 'is-valid'
                                               :''
                                               "
                                    >
                                    <label class="form-check-label" for="exampleRadios2">
                                        Inactif
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <label class="small mb-1">Auto vireur</label>
                            <div class="checkbox">
                                <div class="form-check" style="margin-right: 10px;">
                                    <input class="form-check-input" type="radio" formControlName="isAutoVireur"
                                           value="true" checked
                                           [ngClass]="!citerneForm.get('isAutoVireur').valid? 'is-invalid'
                                               :citerneForm.get('isAutoVireur').valid? 'is-valid'
                                               :''
                                               "
                                    >
                                    <label class="form-check-label" >
                                        Oui
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="isAutoVireur"
                                           value="false"
                                           [ngClass]="!citerneForm.get('isAutoVireur').valid? 'is-invalid'
                                               :citerneForm.get('isAutoVireur').valid? 'is-valid'
                                               :''
                                               "
                                    >
                                    <label class="form-check-label" >
                                        Non
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            
                        </div>
                    </div>


                    <div class="row my-10">
                        <div class="col-sm mt-">
                            <button style="width: 100%" 
                            [disabled]="(citerneForm.get('assetId').invalid  
                            || citerneForm.get('description').invalid
                            || citerneForm.get('manufacture').invalid
                            || citerneForm.get('marque').invalid
                            || citerneForm.get('model').invalid
                            || citerneForm.get('matricule').invalid
                            || citerneForm.get('nbreCompartiment').invalid
                            || citerneForm.get('serialNumber').invalid
                            || citerneForm.get('capacitePied').invalid
                            || citerneForm.get('fabric').invalid
                            || citerneForm.get('poids').invalid
                            || citerneForm.get('entretien').invalid
                            || citerneForm.get('isVaccum').invalid
                            || citerneForm.get('isCertificated').invalid
                            || citerneForm.get('isBackCharge').invalid
                            || citerneForm.get('dispo').invalid
                            || citerneForm.get('isAutoVireur').invalid)
                            " 
                            (click)="onSubmit()" class="btn btn-primary">Valider</button>
                        </div>

                        <div class="col-sm">
                            <button style="width: 100%"  class="btn btn-danger">Annuler</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

