
<div style='margin-top: 2%' class="container mt-5" id="main-container">
    <div class="row card ">
        <div class="col-md-12">

            <div class="card row">
                <div class="d-flex  justify-content-between p-5">
                    <div class="card-title">
                        <h2>
                            Liste des Produits
                        </h2>
                        <div class="">
                            <mat-form-field appearance="standard">
                                <mat-label>Rechercher</mat-label>
                                <input matInput (keyup)="search($event)" placeholder="rechercher Produit" #input>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="card-toolbar">
                        <button class="btn btn-primary" (click)="displayForm()">ajouter un Produit</button>
                    </div>
                </div>

                <div class="card table-responsive">

                    <table  mat-table [dataSource]="dataSource" class="table  table-hover ">
                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white'> No. </th>
                            <td class="align-items-center"   mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <!-- Position Column -->
                        <ng-container matColumnDef="designation">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white'>Designation </th>
                            <td mat-cell *matCellDef="let element"> {{ element.designation}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white'> Description </th>
                            <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef style='background-color:  #42a5f5; color: white; text-align: right; padding-right: 55px;'> Actions </th>
                            <td mat-cell *matCellDef="let element">  
                                <button type="button" class="btn btn-danger m-1 text-right"
                                (click)="onOpenModal(element, 'delete')"  
                                title="Supprimer" style="float: right"><i class="material-icons">delete</i>
                                </button>
                                <button type="button" class="btn btn-warning m-1 text-right"  (click)="openFormModal(element)"  title="Modifier" style="float: right"><i class="material-icons">edit</i>
                                </button>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">Aucun résultat trouvé pour "{{input.value}}"</td>
                        </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[10,15,20,25]" class="panel-footer"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Edit Product Modal-->
<!--
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Modifier le produit</h4>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                A faire disparaitre après
                <div [hidden]="submitted" style="width: 400px;"></div>
                <div  [hidden]="!submitted"  class="alert alert-success mt-5">
                    <strong>SUCCES!</strong> Les informations sont correctement enregistees.
                </div>
                
                <form [formGroup]="createProductForm">
                    <div class="form-group">
                        <label class="small mb-1" for="designation">Designation</label>
                        <input formControlName="designation" class="form-control py-4" id="designation" type="text"
                               placeholder="Entrer la designation"  />
                    </div>
            
                    <div class="form-group">
                        <label class="small mb-1" for="description">Description</label>
                        <input formControlName="description" class="form-control py-4" id="description"
                               type="text" placeholder="Entrer la description"/>
                    </div>
                    <div class="row " style="width: 100%" >
                        <div class="form-group float-left d-flex align-items-center justify-content-between ">
                            <button (click)="updateProduit()" class="btn"
                                    style="background-color:#42a5f5; color: white;">Modifier</button>
                        </div>
                        <div class="float-right form-group d-flex align-items-center justify-content-between " >
                            <button style="margin-left: 100%" class="btn btn-danger" (click)="activeModal.dismiss('anuler')">
                                Annuler
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>
-->

<!-- Details Product Modal-->
<!--
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Modifier le produit</h4>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                A faire disparaitre après
                <div [hidden]="submitted" style="width: 400px;"></div>
                <div  [hidden]="!submitted"  class="alert alert-success mt-5">
                    <strong>SUCCES!</strong> Les informations sont correctement enregistees.
                </div>
                
                <form [formGroup]="createProductForm">
                    <div class="form-group">
                        <label class="small mb-1" for="designation">Designation</label>
                        <input formControlName="designation" class="form-control py-4" id="designation" type="text"
                               placeholder="Entrer la designation"  />
                    </div>
            
                    <div class="form-group">
                        <label class="small mb-1" for="description">Description</label>
                        <input formControlName="description" class="form-control py-4" id="description"
                               type="text" placeholder="Entrer la description"/>
                    </div>
                    <div class="row " style="width: 100%" >
                        <div class="form-group float-left d-flex align-items-center justify-content-between ">
                            <button (click)="updateProduit()" class="btn"
                                    style="background-color:#42a5f5; color: white;">Modifier</button>
                        </div>
                        <div class="float-right form-group d-flex align-items-center justify-content-between " >
                            <button style="margin-left: 100%" class="btn btn-danger" (click)="activeModal.dismiss('anuler')">
                                Annuler
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>
-->

<!-- Delete Product Modal-->

<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLqbel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Supprimer le produit</h4>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p> Etes-vous sûre de vouloir supprimer le produit ?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Oui</button>
                </div>
            </div>

        </div>

    </div>

</div>
