<div class="card">
    <div class="card-title text-start" style="border-bottom: #202324 1px solid;padding-top:10px;padding-left:5px">
        <h3>Détails sur la commande</h3>
    </div>
    <div class="card-body">
        <table style="width: 100%; height:100%">
            <tr style="background-color:#72A0B6">
                <td style="padding-left:10px">id</td>
                <td>{{command.id}}</td>
            </tr>
            <tr style="background-color:#EEF2F5">
                <td style="padding-left:10px">reférence</td>
                <td>{{command.reference}}</td>
            </tr>
            <tr style="background-color:#72A0B6">
                <td style="padding-left:10px">Produit</td>
                <td>{{command.produit}}</td>
            </tr>
            <tr style="background-color:#EEF2F5">
                <td>Expéditeur</td>
                <td>{{command.clientExpediteur.clientName}}</td>
            </tr>
            <tr style="background-color:#72A0B6">
                <td>Destinataire</td>
                <td>{{command.clientDestinataire.clientName}}</td>
            </tr>
            <tr style="background-color:#EEF2F5">
                <td>Quantité normale expédiée</td>
                <td>{{command.qte_normal_expedie}}</td>
            </tr>
            <tr style="background-color:#72A0B6">
                <td style="padding-left:10px">Quantité degel expédiée</td>
                <td>{{command.qte_degel_expedie}}</td>
            </tr>
            <tr style="background-color:#EEF2F5">
                <td style="padding-left:10px">Temps de chargement</td>
                <td>{{command.temps_chargement_prevu}}</td>
            </tr>
            <tr style="background-color:#72A0B6">
                <td style="padding-left:10px">Distance (en km)</td>
                <td>{{command.distance_expediteur_destinataire}}</td>
            </tr>
            <tr style="background-color:#EEF2F5">
                <td style="padding-left:10px">Prix Chauffeur</td>
                <td>{{command.prix_chauffeur}}</td>
            </tr>
            <tr style="background-color:#72A0B6">
                <td>Prix Voiturier</td>
                <td>{{command.prix_voiturier}}</td>
            </tr>
            <tr style="background-color:#EEF2F5">
                <td>Date du chargement</td>
                <td>{{command.date_chargement_prevu}}</td>
            </tr>
            <tr style="background-color:#72A0B6">
                <td>Date de décharge</td>
                <td>{{command.date_dechargement_prevu}}</td>
            </tr>
            <!-- <tr style="background-color:#EEF2F5">
                <td>Heure du chargement</td>
                <td>{{command.heure_chargement_prevu}}</td>
            </tr>
            <tr style="background-color:#72A0B6">
                <td style="padding-left:10px">Heure de décharge</td>
                <td>{{command.heure_dechargement_prevu}}</td>
            </tr> -->
            <tr style="background-color:#EEF2F5">
                <td style="padding-left:10px">Silo de chargement</td>
                <td>{{command.id_type_silo_chargement}}</td>
            </tr>
            <tr style="background-color:#72A0B6">
                <td style="padding-left:10px" style="padding-left:10px" style="padding-left:10px">Silo déchargement</td>
                <td>{{command.id_type_silo_dechargement}}</td>
            </tr>
        </table>
    </div>
    <div class="card-footer text-start">
        <button class="btn btn-primary" (click)="activemodal.dismiss('')">Fermer</button>
    </div>
</div>