<div class="  border-0 rounded-lg mt-5">

    <div class="card">
        <div class="d-flex  justify-content-between p-10">
            <div class="card-title">
                <h2 class="card-label ">AJOUTER UNE COMMANDE</h2>
            </div>
            <div class="card-toolbar">
                <button type="button" (click)="displayCommandList()" class="btn btn-primary">Liste des commandes</button>
            </div>
        </div>
        <div [hidden]="submitted" style="width: 400px;"></div>
        <div [hidden]="!submitted" class="alert alert-success mt-5">
            <strong>SUCCES!</strong> Les informations sont correctement enregistees.
        </div>
        <form [formGroup]="createCommandeForm">
            <div class="container">
                <div class="form-group" style="margin-top: 1%">
                    <label class="small mb-1" for="reference">Reference</label>
                    <input formControlName="reference" class="form-control" id="reference" type="number" placeholder="" [ngClass]="{'is-invalid':(createCommandeForm.get('reference').touched ||createCommandeForm.get('reference').dirty) && createCommandeForm.get('reference').errors,'is-valid':createCommandeForm.get('reference').valid}"
                    />
                    <div *ngIf="createCommandeForm.get('reference').errors" class="invalid-feedback">
                        <div *ngIf="createCommandeForm.get('reference').hasError('required')">
                            Vous devez remplir ce champ!
                        </div>
                        <div *ngIf="createCommandeForm.get('reference').hasError('min')">
                            La valeur de ce champ doit dépasser 0!
                        </div>
                        <div *ngIf="createCommandeForm.get('reference').hasError('pattern')">
                            La valeur de ce champ doit être un nombre!
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mt-5">
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="expediteur">Client Expediteur</label>
                        <select class="custom-select" formControlName="expediteur" id="expediteur" [ngClass]="{'is-invalid':(createCommandeForm.get('expediteur').touched ||createCommandeForm.get('expediteur').dirty) && createCommandeForm.get('expediteur').errors,'is-valid':createCommandeForm.get('expediteur').valid}">
                                <option *ngFor="let client of clientArrayExp" [ngValue]="client">
                                    {{client.clientName}}</option>
                            </select>
                        <div *ngIf="createCommandeForm.get('expediteur').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('expediteur').hasError('required')">
                                Vous devez choisir un expéditeur!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="destinateur">Client Destinataire</label>
                        <select class="custom-select" formControlName="destinateur" id="destinateur" [ngClass]="{'is-invalid':(createCommandeForm.get('destinateur').touched ||createCommandeForm.get('destinateur').dirty) && createCommandeForm.get('destinateur').errors,'is-valid':createCommandeForm.get('destinateur').valid}">
                                <option *ngFor="let client of clientArrayDest" [ngValue]="client">
                                    {{client.clientName}}</option>
                            </select>
                        <div *ngIf="createCommandeForm.get('destinateur').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('destinateur').hasError('required')">
                                Vous devez choisir un destinataire!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mt-5">
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="qte_normal_expedie">Quantité Normale
                                Expediée</label>
                        <input formControlName="qte_normal_expedie" class="form-control" id="qte_normal_expedie" type="number" placeholder="Quantité Normale Expediée" [ngClass]="{'is-invalid':(createCommandeForm.get('qte_normal_expedie').touched ||createCommandeForm.get('qte_normal_expedie').dirty) && createCommandeForm.get('qte_normal_expedie').errors,'is-valid':createCommandeForm.get('qte_normal_expedie').valid}"
                        />
                        <div *ngIf="createCommandeForm.get('qte_normal_expedie').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('qte_normal_expedie').hasError('required')">
                                Vous devez remplir ce champ!
                            </div>
                            <div *ngIf="createCommandeForm.get('qte_normal_expedie').hasError('min')">
                                La valeur de ce champ doit dépasser 0!
                            </div>
                            <div *ngIf="createCommandeForm.get('qte_normal_expedie').hasError('pattern')">
                                La valeur de ce champ doit être un nombre!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="qte_degel_expedie">Quantite De Gel
                                Expedie</label>
                        <input formControlName="qte_degel_expedie" class="form-control" id="qte_degel_expedie" type="number" placeholder="" [ngClass]="{'is-invalid':(createCommandeForm.get('qte_degel_expedie').touched ||createCommandeForm.get('qte_degel_expedie').dirty) && createCommandeForm.get('qte_degel_expedie').errors,'is-valid':createCommandeForm.get('qte_degel_expedie').valid}"
                        />
                        <div *ngIf="createCommandeForm.get('qte_degel_expedie').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('qte_degel_expedie').hasError('required')">
                                Vous devez remplir ce champ!
                            </div>
                            <div *ngIf="createCommandeForm.get('qte_degel_expedie').hasError('min')">
                                La valeur de ce champ doit dépasser 0!
                            </div>
                            <div *ngIf="createCommandeForm.get('qte_degel_expedie').hasError('pattern')">
                                La valeur de ce champ doit être un nombre!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="temps_chargement_prevu">Temps Chargement
                            Prévu</label>
                    <input formControlName="temps_chargement_prevu" class="form-control" id="temps_chargement_prevu" type="time" placeholder="en Heure" [ngClass]="{'is-invalid':(createCommandeForm.get('temps_chargement_prevu').touched ||createCommandeForm.get('temps_chargement_prevu').dirty) && createCommandeForm.get('temps_chargement_prevu').errors,'is-valid':createCommandeForm.get('temps_chargement_prevu').valid}"
                    />
                    <div *ngIf="createCommandeForm.get('temps_chargement_prevu').errors" class="invalid-feedback">
                        <div *ngIf="createCommandeForm.get('temps_chargement_prevu').hasError('required')">
                            Vous devez choisir un expéditeur!
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mt-5">
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="distance_expediteur_destinataire">Distance
                                Expediteur Destinataire</label>
                        <input formControlName="distance_expediteur_destinataire" class="form-control" id="distance_expediteur_destinataire" type="number" placeholder="en Km" [ngClass]="{'is-invalid':(createCommandeForm.get('distance_expediteur_destinataire').touched ||createCommandeForm.get('distance_expediteur_destinataire').dirty) && createCommandeForm.get('distance_expediteur_destinataire').errors,'is-valid':createCommandeForm.get('distance_expediteur_destinataire').valid}"
                        />
                        <div *ngIf="createCommandeForm.get('distance_expediteur_destinataire').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('distance_expediteur_destinataire').hasError('required')">
                                Vous devez remplir ce champ!
                            </div>
                            <div *ngIf="createCommandeForm.get('distance_expediteur_destinataire').hasError('min')">
                                La valeur de ce champ doit dépasser 0!
                            </div>
                            <div *ngIf="createCommandeForm.get('distance_expediteur_destinataire').hasError('pattern')">
                                La valeur de ce champ doit être un nombre!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="prix_chauffeur">Prix Chauffeur</label>
                        <input formControlName="prix_chauffeur" class="form-control" id="prix_chauffeur" type="number" placeholder="" [ngClass]="{'is-invalid':(createCommandeForm.get('prix_chauffeur').touched ||createCommandeForm.get('prix_chauffeur').dirty) && createCommandeForm.get('prix_chauffeur').errors,'is-valid':createCommandeForm.get('prix_chauffeur').valid}"
                        />
                        <div *ngIf="createCommandeForm.get('prix_chauffeur').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('prix_chauffeur').hasError('required')">
                                Vous devez remplir ce champ!
                            </div>
                            <div *ngIf="createCommandeForm.get('prix_chauffeur').hasError('min')">
                                La valeur de ce champ doit dépasser 0!
                            </div>
                            <div *ngIf="createCommandeForm.get('prix_chauffeur').hasError('pattern')">
                                La valeur de ce champ doit être un nombre!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="prix_voiturier">Prix Voiturier</label>
                        <input formControlName="prix_voiturier" class="form-control" id="prix_voiturier" type="number" placeholder="" [ngClass]="{'is-invalid':(createCommandeForm.get('prix_voiturier').touched ||createCommandeForm.get('prix_voiturier').dirty) && createCommandeForm.get('prix_voiturier').errors,'is-valid':createCommandeForm.get('prix_voiturier').valid}"
                        />
                        <div *ngIf="createCommandeForm.get('prix_voiturier').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('prix_voiturier').hasError('required')">
                                Vous devez remplir ce champ!
                            </div>
                            <div *ngIf="createCommandeForm.get('prix_voiturier').hasError('min')">
                                La valeur de ce champ doit dépasser 0!
                            </div>
                            <div *ngIf="createCommandeForm.get('prix_voiturier').hasError('pattern')">
                                La valeur de ce champ doit être un nombre!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mt-5">
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="date_chargement_prevu">Date Chargement
                                Prévu</label>
                        <input formControlName="date_chargement_prevu" class="form-control" id="date_chargement_prevu" type="date" placeholder="JJ/MM/AAAA" [ngClass]="{'is-invalid':(createCommandeForm.get('date_chargement_prevu').touched ||createCommandeForm.get('date_chargement_prevu').dirty) && createCommandeForm.get('date_chargement_prevu').errors,'is-valid':createCommandeForm.get('date_chargement_prevu').valid}"
                        />
                        <div *ngIf="createCommandeForm.get('date_chargement_prevu').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('date_chargement_prevu').hasError('required')">
                                Vous devez choisir une date!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="date_dechargement_prevu">Date Déchargement
                                Prévu</label>
                        <input formControlName="date_dechargement_prevu" class="form-control" id="date_dechargement_prevu" type="date" placeholder="JJ/MM/AAA" [ngClass]="{'is-invalid':(createCommandeForm.get('date_dechargement_prevu').touched ||createCommandeForm.get('date_dechargement_prevu').dirty) && createCommandeForm.get('date_dechargement_prevu').errors,'is-valid':createCommandeForm.get('date_dechargement_prevu').valid}"
                        />
                        <div *ngIf="createCommandeForm.get('date_dechargement_prevu').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('date_dechargement_prevu').hasError('required')">
                                Vous devez choisir une date!
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                        <label class="small mb-1" for="heure_chargement_prevu">Heure Chargement
                            Prévu</label>
                        <input formControlName="heure_chargement_prevu" class="form-control"
                            id="heure_chargement_prevu" type="datetime-local" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="heure_dechargement_prevu">Heure Déchargement
                            Prévu</label>
                        <input formControlName="heure_dechargement_prevu" class="form-control"
                            id="heure_dechargement_prevu" type="datetime-local" placeholder="" />
                    </div> -->
                <div class="row mt-3 mt-5">
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="produit">Produit</label>
                        <select class="custom-select" formControlName="produit" id="produit" [ngClass]="{'is-invalid':(createCommandeForm.get('produit').touched ||createCommandeForm.get('produit').dirty) && createCommandeForm.get('produit').errors,'is-valid':createCommandeForm.get('produit').valid}">
                                <option *ngFor = "let product of productArray" [ngValue]="product">{{product.designation}}</option>
                            </select>
                        <div *ngIf="createCommandeForm.get('produit').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('produit').hasError('required')">
                                Vous devez choisir un produit!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="type_silo_chargement">Type Silo Chargement</label>
                        <select class="custom-select" formControlName="type_silo_chargement" id="type_silo_chargement" [ngClass]="{'is-invalid':(createCommandeForm.get('type_silo_chargement').touched ||createCommandeForm.get('type_silo_chargement').dirty) && createCommandeForm.get('type_silo_chargement').errors,'is-valid':createCommandeForm.get('type_silo_chargement').valid}">
                                <option *ngFor = "let type_silo of typeSilo" [ngValue]="type_silo">{{type_silo.libelle_type_silo}}</option>
                            </select>
                        <div *ngIf="createCommandeForm.get('type_silo_chargement').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('type_silo_chargement').hasError('required')">
                                Vous devez choisir un Silo de chargement!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label class="small mb-1" for="type_silo_dechargement">Type Silo Déchargement</label>
                        <select class="custom-select" formControlName="type_silo_dechargement" id="type_silo_dechargement" [ngClass]="{'is-invalid':(createCommandeForm.get('type_silo_dechargement').touched ||createCommandeForm.get('type_silo_dechargement').dirty) && createCommandeForm.get('type_silo_dechargement').errors,'is-valid':createCommandeForm.get('type_silo_dechargement').valid}">
                                <option *ngFor = "let type_silo of typeSilo" [ngValue]="type_silo">{{type_silo.libelle_type_silo}}</option>
                            </select>
                        <div *ngIf="createCommandeForm.get('type_silo_dechargement').errors" class="invalid-feedback">
                            <div *ngIf="createCommandeForm.get('type_silo_dechargement').hasError('required')">
                                Vous devez choisir un Silo de déchargement!
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div
                            class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <button (click)="onSubmit()" class="btn"
                                [disabled]="!createCommandeForm.valid"
                                style="background-color:#42a5f5; color: white;">Valider</button>
                    </div>-->
                <div class="row my-5">
                    <div class="col-sm mt-">
                        <button style="width: 100%" [disabled]="!createCommandeForm.valid" (click)="onSubmit()" class="btn btn-primary">Valider</button>
                    </div>

                    <div class="col-sm">
                        <button style="width: 100%" (click)="displayCommandList()" class="btn btn-danger">Annuler</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>