<div class="card">
    <div class="card-title text-start">
        <h3>Confirmation</h3>
    </div>
    <div class="card-body">
        <h3>Voulez-vous vraiment supprimer le client {{client.clientName}} ?</h3>
    </div>
    <div class="card-footer">
        <button class="btn btn-danger" (click)="deleteClient()">Oui,Supprimer</button>
        <button class="btn btn-primary" (click)="activemodal.dismiss('')" style="margin-left: 5px;">Annuler</button>
    </div>
</div>